* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 800px;
}

label {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

input {
  width: 40%;
}
